.star {
  cursor: pointer;
}

.star:hover,
.star_selected:hover {
  filter: drop-shadow(1px 1px 2px #222);
}

.star_selected {
  color: orange;
  cursor: pointer;
  filter: drop-shadow(1px 1px #222);
}

.card {
  width: 100%;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.containerFavorite {
  justify-content: center;
}

.media {
  width: 100%;
  min-height: 150px;
  max-height: 200px;
  margin-top: 5px;
  justify-content: center;
}
